* {
	margin: 0;
	padding: 0;
}
body {
	background-color: #fff;
}

header {
	background-image: url("background4.jpg");
	position: absolute;
	width: 1349px;
	height: 150px;
}
ul {
	background-color: #04B300;
	text-align: left;
	width: 895px;
	height: 60px;
	position: absolute;
	top: 90px;
	left: 230px;
}
li {
	display: inline-block;
	padding-top: 22px;
	padding-bottom: 21px;
	padding-left: 0;
	padding-right: 0;
	margin: 0;
}
a {
	text-decoration: none;
	color: #000;
	padding-top: 22px;
	padding-bottom: 21px;
	padding-left: 30px;
	padding-right: 30px;
	margin: 0;
}
a:hover {
	background-color: #037F00;
}
main {
	width: 1349px;
	height: 3800px;
	position: absolute;
	top: 150px;
}
h1 {
	margin-top: 20px;
	margin-bottom: 10px;
	text-align: center;
}
div {
	text-align: center;
}
h2 {
	margin-bottom: 10px;
}
img {
	width: 800px;
	height: 534px;
}
#first {
	width: 1200px;
	height: 600px;
	position: absolute;
	top: 100px;
	left: 70px;
}
#second {
	width: 1200px;
	height: 600px;
	position: absolute;
	top: 700px;
	left: 70px;
}
#third {
	width: 1200px;
	height: 600px;
	position: absolute;
	top: 1300px;
	left: 70px;
}
#fourth {
	width: 1200px;
	height: 600px;
	position: absolute;
	top: 1900px;
	left: 70px;
}
#fifth {
	width: 1200px;
	height: 600px;
	position: absolute;
	top: 2500px;
	left: 70px;
}
#sixth {
	width: 1200px;
	height: 600px;
	position: absolute;
	top: 3100px;
	left: 70px;
}
footer {
	background-color: #04B300;
	text-align: center;
	width: 1349px;
	height: 100px;
	position: absolute;
	top: 3950px;
}
.bottom {
	padding: 0;
	margin: 0;
}
#push {
	padding-top: 30px;
	margin-bottom: 5px;
}